<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <p>Result: <%=@created_phrase.piglatinize(@phrase)%></p>
  </body>
</html>